@import url(https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap);
@import url(mobile-menu.css);
@import url(hover-animation.css);

*,
*::after,
*::before,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 76px 0 0;
  font-family: "Philosopher", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img,
label {
  caret-color: transparent;
}

.center {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.skills__title,
.certificates__title,
.projects__title,
.page-footer__title {
  margin: 0 0 40px;
  font-size: 36px;
  line-height: 39px;
  font-weight: 700;
  text-align: center;
}

.page-header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: rgba(223, 223, 223, 0.8);
  padding: 18px 0;
  transition: all 0.3s ease;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.page-header_scroll {
  box-shadow: 0 8px 30px black;
  padding: 5px 0;
}

.page-header__wrp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page-logo {
  width: 130px;
  height: 40px;
}

.page-logo svg {
  width: 130px;
  height: 40px;
}

.page-header__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 350px;
  max-width: 500px;
}

.mobile-menu {
  display: none;
}

.page-header__item-link {
  color: black;
  font-weight: 400;
  background-image: linear-gradient(90deg, #1246e2, #034b81, #8c59d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  line-height: 21px;
}

.promo {
  padding: 50px 0;
  background-image: url(../img/promo/background-top-promo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promo__wrp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}

.promo__image {
  background: url(../img/promo/фото.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  max-width: 500px;
  width: 100%;
  height: auto;
}

.promo__discription {
  max-width: 530px;
  width: 100%;
}

.promo__name {
  margin: 0 0 25px;
  display: block;
  text-align: center;
  position: relative;
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
}

.promo__name::after {
  content: "";
  position: absolute;
  bottom: -15px;
  right: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, #1246e2, #034b81, #8c59d9);
}

.promo__title {
  color: #232323;
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 45px;
  line-height: 52px;
}

.promo__discription-text {
  color: #424242;
  margin: 0 0 50px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.promo__discription-text>a {
  text-decoration: underline;
}

.promo__link {
  padding: 10px;
  border: 1px solid black;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: block;
  text-align: center;
  border-image-slice: 1;
  border-width: 2px;
  animation: backgroundButton 10s infinite;
  animation-timing-function: linear;
}

.projects {
  padding: 50px 0 70px;
  background: #f1f1f1;
}

.slider__link-wrp {
  background-color: rgba(223, 223, 223, 0.4);
}

.slider__link-wrp>div {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__subtitle {
  max-width: 520px;
  width: 100%;
  text-shadow: 2px 4px 2px #cfcfcf;
  color: #5a5a5a;
  padding: 10px 0 0 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 5px;
}

.slider__link-site,
.slider__link-code {
  text-shadow: 2px 4px 2px #cfcfcf;
  color: #5a5a5a;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

/* slider */
.slider {
  box-shadow: 0px 0px 20px grey;
  border-radius: 20px;
  position: relative;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
}

.slider-line {
  background-color: #f1f1f1;
  display: flex;
  align-items: stretch;
  transition: all 3s ease;
}

.slider-image {
  height: calc(100% - 60px);
  width: 100%;
}

.slider-prev,
.slider-next {
  width: 50px;
  height: 50px;
}

.slider-prev {
  transform: rotate(180deg);
  position: absolute;
  left: 1%;
  top: 50%;
  background: url(../img/slider-projects/slider-arrow1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
}

.slider-next {
  position: absolute;
  right: 1%;
  top: 50%;
  background: url(../img/slider-projects/slider-arrow1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
}

.slider-wrapper {
  display: flex;
  column-gap: 10px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.slider-dot {
  width: 16px;
  height: 16px;
  background: url(../img/slider-projects/slider-circle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  caret-color: transparent;
}

.active-dot {
  transform: scale(1.3);

  background: url(../img/slider-projects/slider-circle-active.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* slider end */

.skills {
  padding: 50px 0;
  background: url(../img/skills/background-skills.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.skills__title {
  text-shadow: 2px 4px 2px black;
  color: #fff;
}

.skills__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.skills__wrp {
  min-height: 180px;
  max-width: 170px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.skills__image {
  display: block;
  width: 96px;
  height: 96px;
}

.skills__name {
  text-shadow: 2px 4px 2px black;
  color: #fff;
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
}

.skills__reating .active {
  fill: #834300;
}

.certificates {
  padding: 50px 0;
  background-color: #f1f1f1;
}

.certificates__accordion {
  max-width: 800px;
  margin: 20px auto;
}

.accordion__item {
  position: relative;
  box-shadow: 0 0 15px rgb(189, 189, 189);
  border-radius: 10px;
  margin: 0 0 10px;
}

.accordion__title {
  display: flex;
  align-items: center;
  padding: 20px 25px;
  border-radius: 10px;
  font-size: 24px;
  line-height: 27px;
  font-weight: 700;
  color: #5a5a5a;
  cursor: pointer;
  user-select: none;

}

.accordion__title::after {
  content: "";
  position: absolute;
  right: 25px;
  background: url(../img/sertificats/plus-icon.png) no-repeat center / cover;
  width: 20px;
  height: 20px;
  animation: rotateIcon infinite 3s;
  transition: all 0.5s ease-in-out;
}

.accordion__input {
  width: 0;
  height: 0;
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
}

.accordion__input:checked~.accordion__body-wrapper {
  display: block;
}

.accordion__input:checked~.accordion__title::after {
  background-image: url(../img/sertificats/minus-icon.png);
}

.accordion__body-wrapper {
  display: none;
  padding: 10px 25px;
  color: black;
}

.accordion__texnologies {
  margin: 0 0 10px;
}

.texnologies__input {
  display: none;
}

.texnologies__label {
  position: relative;
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  color: #5d5d5d;
  cursor: pointer;
  user-select: none;
}

.texnologies__label::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 4px;
  right: -20px;
  background: url(../img/sertificats/triangle-icon.png) no-repeat center / cover;
}

.texnologies__list {
  padding: 10px 0;
}

.texnologies__item {
  margin: 0 0 0 20px;
  list-style: circle;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.texnologies__input:checked~.texnologies__label+.texnologies__list {
  display: block;
}

.texnologies__input:checked~.texnologies__label::after {
  transform: rotate(180deg);
}

.texnologies__label+.texnologies__list {
  display: none;
}

.accordion__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.accordion__body>a {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-image: linear-gradient(90deg, #1246e2, #034b81, #8c59d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-footer {
  padding: 30px 0 20px;
  background-color: rgba(223, 223, 223, 0.8);
}

.page-footer__wrapper {
  margin: 0 0 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.page-footer__wrapper::after {
  content: "";
  position: absolute;
  height: 1px;
  background: #9a9a9a;
  opacity: 0.4;
  top: 157px;
  left: 0;
  right: 0;
}

.page-footer__icon-wrp {
  outline: 1px solid #9a9a9a;
  background-color: #fff;
  box-shadow: 0 0 15px rgb(189, 189, 189);
  border-radius: 10px;
  max-width: 220px;
  width: 100%;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.page-footer__link-icon {
  display: block;
  width: 35px;
  height: 35px;
  animation: scaleIcon infinite 2.5s;
}

.page-footer__image-icon {
  display: block;
  width: 35px;
  height: 35px;
}

.page-footer__title {
  font-weight: 400;
  margin: 0 0 50px;
  background-image: linear-gradient(90deg, #1246e2, #034b81, #8c59d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-footer__copyright>span {
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: #313131;
}



@media (max-width: 1200px) {

  .slider-next,
  .slider-prev {
    width: calc(20px + (50 - 20) * ((100vw - 320px) / (850 - 320)));
    height: calc(20px + (50 - 20) * ((100vw - 320px) / (850 - 320)));
  }

  .slider-dot {
    width: calc(10px + (16 - 10) * ((100vw - 320px) / (850 - 320)));
    height: calc(10px + (16 - 10) * ((100vw - 320px) / (850 - 320)));
  }

  .slider-wrapper {
    column-gap: calc(5px + (10 - 5) * ((100vw - 320px) / (850 - 320)));
  }
}

@media (max-width: 900px) {
  .promo__wrp {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .promo__image {
    border-radius: 100%;
    max-width: 350px;
    width: 100%;
    height: 350px;
  }

  .promo__title {
    text-align: center;
  }
}

@media (max-width: 650px) {
  .certificates__image-wrapper {
    gap: 35px;
  }

  .certificates__image {
    width: 400px;
  }
}

@media (max-width: 520px) {
  .page-header__nav-list {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .promo__name {
    font-size: 26px;
    line-height: 29px;
  }

  .promo__title {
    font-size: 38px;
    line-height: 41px;
  }

  .promo__discription-text {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
  }

  .promo__link {
    font-size: 19px;
    line-height: 21px;
  }

  .slider__subtitle {
    font-size: 18px;
    line-height: 21px;
  }

  .slider__link-code,
  .slider__link-site {
    font-size: 13px;
    line-height: 16px;
  }

  .slider-image {
    height: calc(100% - 52px);
    width: 100%;
  }

  .skills__title,
  .certificates__title,
  .projects__title,
  .page-footer__title {
    font-size: 26px;
    line-height: 29px;
  }

  .skills__name {
    font-size: 19px;
    line-height: 21px;
  }

  .accordion__title {
    font-size: 20px;
    line-height: 24px;
  }

  .accordion__body>a {
    font-size: 15px;
    line-height: 19px;
  }

  .page-footer__wrapper::after {
    top: 137px;
  }
}

@media (max-width: 450px) {
  .certificates__image-wrapper {
    gap: 25px;
  }

  .certificates__image {
    width: 200px;
  }
}

.girlianda {
  display: none;
}