@import url(hover-animation.css);

*,
*::after,
*::before,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 76px 0 0;
  font-family: "Philosopher", sans-serif;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  caret-color: transparent;
}
.center {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.skills__title,
.certificates__title,
.projects__title,
.page-footer__title {
  margin: 0 0 70px;
  font-size: 36px;
  line-height: 39px;
  font-weight: 700;
  text-align: center;
}
.page-header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: rgba(223, 223, 223, 0.8);
  padding: 18px 0;
  transition: all 0.3s ease;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
.page-header_scroll {
  box-shadow: 0 8px 30px black;
  padding: 5px 0;
}
.page-header__wrp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.page-logo {
  width: 130px;
  height: 40px;
}

.page-logo svg {
  width: 130px;
  height: 40px;
}
.page-header__nav {
}
.page-header__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 350px;
  max-width: 500px;
}
.page-header__nav-item {
}
.page-header__item-link {
  color: black;
  font-weight: 400;
  background-image: linear-gradient(90deg, #1246e2, #034b81, #8c59d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  line-height: 21px;
}
.promo {
  padding: 50px 0;
  background-image: url(../img/promo/background-top-promo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.promo__wrp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}
.promo__image {
  background: url(../img/promo/фото.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  max-width: 500px;
  width: 100%;
  height: auto;
}
.promo__discription {
  max-width: 530px;
  width: 100%;
}
.promo__name {
  margin: 0 0 25px;
  display: block;
  text-align: center;
  position: relative;
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
}
.promo__name::after {
  content: "";
  position: absolute;
  bottom: -15px;
  right: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, #1246e2, #034b81, #8c59d9);
}

.promo__title {
  color: #232323;
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 45px;
  line-height: 52px;
}
.promo__discription-text {
  color: #424242;
  margin: 0 0 50px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.promo__discription-text > a {
  text-decoration: underline;
}
.promo__link {
  padding: 10px;
  border: 1px solid black;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: block;
  text-align: center;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to right, #1246e2, #034b81, #8c59d9);
}
.certificates {
  padding: 50px 0;
  background-color: #f1f1f1;
}
.certificates__title,
.projects__title {
  color: black;
  text-shadow: 0px 0px 10px #034b81;
}
.certificates__image-wrapper {
  padding: 0 0 40px;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 55px;
}
.certificates__image {
  display: block;
}
.skills {
  padding: 50px 0;
  background: url(../img/skills/background-skills.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
.skills__title {
  text-shadow: 2px 4px 2px black;
  color: #fff;
}
.skills__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.skills__item {
}
.skills__wrp {
  min-height: 180px;
  max-width: 163px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.skills__image {
  display: block;
  width: 96px;
  height: 96px;
}
.skills__name {
  text-shadow: 2px 4px 2px black;
  color: #fff;
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
}
.skills__reating .active {
  fill: #bc6100;
}
.projects {
  padding: 50px 0 70px;
  background: #f1f1f1;
}
.slider__link-wrp {
}
.slider__link-wrp > div {
  padding: 0 15px;
  margin: 0 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider__subtitle {
  max-width: 520px;
  width: 100%;
  background-image: linear-gradient(90deg, #1246e2, #034b81, #8c59d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 0 0 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 5px;
}
.slider__link-site,
.slider__link-code {
  color: black;
  background-image: linear-gradient(90deg, #1246e2, #8c59d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: underline;
}
.slider__link-code {
  background-image: linear-gradient(90deg, #8c59d9, #1246e2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* slider */
.slider {
  box-shadow: 0px 0px 20px grey;
  border-radius: 20px;
  position: relative;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
}

.slider-line {
  background-color: #f1f1f1;
  display: flex;
  align-items: stretch;
  transition: all 3s ease;
}

.slider-image {
  height: 92%;
  width: 100%;
}
.slider-prev,
.slider-next {
  width: 50px;
  height: 50px;
}
.slider-prev {
  transform: rotate(180deg);
  position: absolute;
  left: 1%;
  top: 50%;
  background: url(../img/slider-projects/slider-arrow1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
}
.slider-next {
  position: absolute;
  right: 1%;
  top: 50%;
  background: url(../img/slider-projects/slider-arrow1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
}
.slider-wrapper {
  display: flex;
  column-gap: 10px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.slider-dot {
  width: 16px;
  height: 16px;
  background: url(../img/slider-projects/slider-circle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  caret-color: transparent;
}
.slider-dot:hover {
  transform: scale(1.3);
}
.active-dot {
  transform: scale(1.3);

  background: url(../img/slider-projects/slider-circle-active.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* slider end */

.page-footer {
  padding: 30px 0;
  background-color: rgba(223, 223, 223, 0.8);
}
.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.page-footer__icon-wrp {
  background-color: #fff;
  border-radius: 10px;
  max-width: 220px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.page-footer__link-icon {
  display: block;
  width: 35px;
  height: 35px;
  animation: scaleIcon infinite 2.5s;
}
.page-footer__image-icon {
  display: block;
  width: 35px;
  height: 35px;
}
.page-footer__title {
  font-weight: 400;
  margin: 0 0 50px;
  background-image: linear-gradient(90deg, #1246e2, #034b81, #8c59d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1200px) {
  .slider-next,
  .slider-prev {
    width: calc(20px + (50 - 20) * ((100vw - 320px) / (850 - 320)));
    height: calc(20px + (50 - 20) * ((100vw - 320px) / (850 - 320)));
  }
  .slider-dot {
    width: calc(10px + (16 - 10) * ((100vw - 320px) / (850 - 320)));
    height: calc(10px + (16 - 10) * ((100vw - 320px) / (850 - 320)));
  }
  .slider-wrapper {
    column-gap: calc(5px + (10 - 5) * ((100vw - 320px) / (850 - 320)));
  }
}

@media (max-width: 900px) {
  .promo__wrp {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .promo__image {
    border-radius: 100%;
    max-width: 350px;
    width: 100%;
    height: 350px;
  }
  .promo__title {
    text-align: center;
  }
}

@media (max-width: 650px) {
  .certificates__image-wrapper {
    gap: 35px;
  }
  .certificates__image {
    width: 400px;
  }
}
@media (max-width: 450px) {
  .certificates__image-wrapper {
    gap: 25px;
  }
  .certificates__image {
    width: 200px;
  }
}
